<div class="page flex">
        <div class="page__hd">
            <h1 class="page__title">Flex</h1>
            <p class="page__desc">Flex布局</p>
        </div>
        <div class="page__bd page__bd_spacing">
            <div class="weui-flex">
                <div class="weui-flex__item"></div>
                <div class="weui-flex__item">
                    <div class="weui-gallery" style="display: block">
                        
                        <div class="weui-gallery__img " style="background-image: url(./images/cargo_qhb_money.png);">
                            
                        </div>
                    </div>
                    <!-- <div class="weui-gallery-bottom" style="display: block">
                        
                        <div class="weui-gallery__submit" style="background-image: url(./images/cargo_qhb_lingqu.png);">
                            
                        </div>
                    </div> -->
                </div>
                <div class="weui-flex__item"></div>
            </div>
        </div>
        <div class="page__ft">
            <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
        </div>
    </div>