
<div class="page flex">
    <div class="flex-container page_account">
        <div class="flex-item">
            <div>item1</div>
        </div>
        <div class="flex-item">
            <div>item1</div>
        </div>
    </div>
    <div class="page_header">
        <div class="weui-flex">
            <div class="weui-flex__item">
                <div></div>
            </div>
        </div>
    </div>
    <br>
        <div class="page__bd page__bd_spacing ">
            <div class="weui-flex">
                <div class="weui-flex__item"><div class="placeholder">weui</div></div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item"><div class="placeholder">weui</div></div>
                <div class="weui-flex__item"><div class="placeholder">weui</div></div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item"><div class="placeholder">weui</div></div>
                <div class="weui-flex__item"><div class="placeholder">weui</div></div>
                <div class="weui-flex__item"><div class="placeholder">weui</div></div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item"><div class="placeholder">weui</div></div>
                <div class="weui-flex__item"><div class="placeholder">weui</div></div>
                <div class="weui-flex__item"><div class="placeholder">weui</div></div>
                <div class="weui-flex__item"><div class="placeholder">weui</div></div>
            </div>
            <div class="weui-flex">
                <div><div class="placeholder">weui</div></div>
                <div class="weui-flex__item"><div class="placeholder">weui</div></div>
                <div><div class="placeholder">weui</div></div>
            </div>
        </div>
        <div class="page__ft">
            <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
        </div>
    </div>