<div class="wrap page1">  
    <div class="header">头部</div>  
    <div class="main">  
        <div class="container">内容</div>  
    </div>  
    <div class="footer">尾部</div>  
</div>


<div class="page1 flex1 page__bg_default">
    <div class="flex-container">
        <div class="flex-item">
            <div class="page_account">
                <div class="account_left">22222</div>
                <div class="account_right">2222</div>
            </div>
        </div>
        <!-- <div class="flex-item">
            <div>item1</div>
        </div> -->
    </div>
    <div class="page_header">
        <div class="weui-flex">
            <div class="weui-flex__item">
                <div></div>
            </div>
        </div>
    </div>
    <br>
        <div class="page__bd page__bd_spacing ">
            <div class="weui-flex">
                <div class="weui-flex__item"><div class="placeholder">weui</div></div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item"><div class="placeholder">weui</div></div>
                <div class="weui-flex__item"><div class="placeholder">weui</div></div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item"><div class="placeholder">weui</div></div>
                <div class="weui-flex__item"><div class="placeholder">weui</div></div>
                <div class="weui-flex__item"><div class="placeholder">weui</div></div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item"><div class="placeholder">weui</div></div>
                <div class="weui-flex__item"><div class="placeholder">weui</div></div>
                <div class="weui-flex__item"><div class="placeholder">weui</div></div>
                <div class="weui-flex__item"><div class="placeholder">weui</div></div>
            </div>
            <div class="weui-flex">
                <div><div class="placeholder">weui</div></div>
                <div class="weui-flex__item"><div class="placeholder">weui</div></div>
                <div><div class="placeholder">weui</div></div>
            </div>
        </div>
        <div class="page__ft">
            <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
        </div>
    </div>